 {%extends "layout.html"%}
{%set active_page="locations"%}
{% block title%}locations{%endblock%}
  
 
        {% block content%}
<title> Locations </title>
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="pics.js"></script> 
<head>
<body>
<button id="show">Show Pictures</button>
<button id="hide">Hide Pictures</button>
<br>
<br>



<h1 class = "headers">Long Beach</h1>

<p class= "locationP"> Long Beach is a coastal city and port in Southern California. Some activities in Long Beach California are going to Knotts Berry Farm.
Visting the Queen Mary, a floating hotel on a boat might be a good place to stay a night. Another option is visiting the beach or the pacific aquarium. This is where the journey
starts have fun.</p>

<img src ="longbeach.jpg" alt = "beach" class="locations">





<h2 class = "headers"> Newport</h2>

<p class= "locationP">Newport Oregon is a beach city with many interesting activities. Near the beach there is an aquarium, and a sea loin sanctuary. On the same street there is 
many things to do loike going glass blowing. They also have a huge candy store with for those who have a sweet tooth. They also have one of the national Ripleys Beleive it or Not 
Museums.</p>

<img src ="newport.jpg" alt = "newport" class="locations">





<h3 class = "headers"> Anchorage</h3>

<p class= "locationP">Anchorage Alaska. There is plenty to keep you busy in Anchorge. There is a booming downtown that has many things to do. Besides that there is an extreme
amount of nature to be seen. The windy beaches, the frosty forest, the artic glaciers. There are countless tourist attractions like the zoo, also that glacier tour is nothing 
to sneeze at. Doesnt matter what time of year it is there is always something for you to do in Alaska </p>

<img src ="anchorage.jpg" alt = "anchorage" class="locations">





<h4 class = "headers"> Seattle</h4>

<p class= "locationP"> Seattle Washington. There is always something to do in Seattle Washington. You can visit the space needle. You can spend a day downtown. Even an afternoon 
at one of the countless stunning parks. You can catch a Seattle Mairiners game. There is always something to do here. Have fun!</p>

<img src ="seattle.jpg" alt = "seattle" class="locations">

    {%endblock%}







</body>
</html>
