{%extends "layout.html"%}
{%set active_page="Resturaunt1"%}

  {% block title%}Resturant1{%endblock%}
  
 
	
  {% block content%}
	<title> Nourriture Trop Chere</title>
<body>
<h1>
 Nourriture Trop Chere
</h1>

<div>
	<p> 
	Main Courses: <br><br>
	Truffle Mac and Cheese 36 <br>
	Craft mac and cheese with mushroom stuff on top
	</p>
	<img src="macncheese.jpg" alt="macncheese" width="300" height="200" class="pics">
</div>

<div>
	<p>
	BBQ monkfish tail 56 <br>
	Served with fried eggplant, and topped with a  thick coconut sauce <br><br>
	</p>
	
	<img src="monkfish.jpg" alt="monkfish" width="300" height="200" class="pics">
</div>

<p>
Shrimp Paella 45
<br>
Traditional Duck Paella, served with one side
<img src="paella.jpg" alt="paella" width="300 " height="200" class="pics">
<br>
<br>
Grilled Steak Ratatouille 54
<br>
Served with one side
<img src="ratatouille.jpg" alt="ratatouille" width=" 300" height="200" class="pics">
<br>
<br>
King Crab 160
<br>
16oz. of King Crab. Served with every side. 
<img src= "kingCrab.jpg" alt="crab" width="300 " height=" 200" class="pics">
<br>
<br>
<br>
Side Dishes:
<br>
<br>
Thick-Cut truffle french fries 8
<img src="fries.jfif" alt="fries" width=" 300" height=" 200" class="pics">
<br>
Parmesan anchovy salad 12 
<br>
Grilled Vegetables 12
<br>
Fried Eggplant 10
<br>
Fruit Salad w/Truffle 20
<br>
<br>
Dessert: 
<br>
<br>
Strawberry Mint Sorbet 17
<img src="sorbet.jpg" alt="sorbet" width=" 300" height="200" class="pics">
<br>
New York Cheesecake 23

</p>
	
	    {%endblock%}
