{%extends "layout.html"%}
{%set active_page="resturant2"%}

  {% block title%}resturant2{%endblock%}
  
     {% block content%}
<h1> Cruise Cafe</h1>

<p>
<br>
Starters:
<br>
<br>
Nachos 12
<br>
Nachos served with sour cream, guacamolee, and you choice of meat
<br>
<br>
Flatbread Pizza 13
<br>
Classic cheese or pepporini flatbread pizza
<br>
<br>
Chips and Salsa 7
<br>
Homade tortilla chips served with a mild pepper sauce
<br>
<br>
Steak Bites 11
<br>
New york syle steak bites
<br>
<br>
Turkey Sliders 9
<br>
Classic turkey sliders served with lettuce tomtatoes and onions
<br>
<br>
Salads:
<br>
Cesar Salad 10
<br>
classic cesar salad, served with garlic bread
<br>
<br>
Cobb Salad 12
<br>
classic Cobb salad, served with one side or garlic bread
<br>
<br>
House Salad 9
<br>
classic house salad, served with balsamic or ranch dressing
<br>
Meat Salad 14
<br>
cold iceberg lettuce, with bacon, sausage, and brisket, served with one side
<br>
<br>
Burgers and Sandwiches:
<br>
<br>
Traditional Cheeseburger 12
<br>
classic american cheeseburgers served with one side
<br>
<br>
BLT 12
classic bacon, lettuce, tomato sandwich, served with one side
<br>
<br>
Tuna Melt 12
<br>
classic tuna melt, served with one side
<br>
<br>
Turkey Burger 12
<br>
classic turkey burger, served with one side
<br>
<br>
Cowboy Burger 13
<br>
Brisket, Bacon, Shoestring onion rings, served with one side
<br>
<br>
Sides:
<br>
Onion Rings 4
<br>
French Fries 3
<br>
Meat Sauce 7
<br>
Coleslaw 3
<br>
Macaroni Salad 4
<br>
Vegetables 3
<br>
<br>
Desserts:
<br>
Root Beer Float 6
Vanilla ice cream 4
Pizookie 6
<br>
<br>
Soft Drinks:
<br>
Dr.Pepper, Coca Cola, Sprite, Fanta, Root Beer 2


</p>    {%endblock%}
