body
{
	background-color:rgb(148,204,232);
	
}

h1
{
	color: white;
}
#h 
{
	color: white;
	font-size: 200%;
}
#m
{
	text-align:center;
	font-size: 280%;
   color:rgb(167,225,253);
}

.ctext
{
	text-align:center;
	color:rgb(37,65,160);
	font-size: 120%;
	
	
}
.cimg
{
	margin:auto;
	display:block;
}


li
{
	color:rgb(37,65,160);
	font-size: 120%;
}


.Act
{
	text-align:center;
	color: white;
	font-size: 200%;
}

.locations
{
	
	margin: auto;
    width: 50%;
}

.headers
{
	color: black;
	font-size: 40px;
}


#surf
{
	position: relative;
	display: block;
}
#sail
{
	position: relative;
	display: block;
	left:1700px;
}
#hImg
{
	background-image: url("Aerial-Ship.JPG");
    background-repeat:no-repeat;

}
