body
{
	background-color:rgb(148,204,232);
}
p
{
	color: black;
}
h1
{
	color: white;
}
#h 
{
	color: white;
	font-size: 200%;
}
#m
{
	text-align:center;
	font-size: 280%;
   color:rgb(148,204,232);
}
.centert
{
	display:block;
	margin:auto;
	
}
.centeri
{
	margin:auto;
	display::block;
}


#t
{
	color: rgb(37,65,168);
	font-size: 120%;
}
