body
{
	background-color:rgb(148,204,232);
}
p
{
	color: black;
}
h1
{
	color: white;
}
#h 
{
	color: white;
	font-size: 200%;
}
#m
{
	text-align:center;
	font-size: 280%;
   color:rgb(37,65,160);
}
.ctext
{
	text-align:center;
	color:rbg(37,65,160);
	font-size: 120%;
	
	
	
}
.cimg
{
	margin:auto;
	display::block;
}

li
{
	color:rgb(37,65,160);
	font-size: 120%;
}
