
{%extends "layout.html"%}
{%set active_page="activities"%}

  {% block title%}activities{%endblock%}
  
 {% block content%}
    <h1 class="Act" >Activities</h1>
    <p  class="ctext"> There are many fun activities on board. such as swimming</p> 
	<img src= "pool.jpg" height="400" class="cimg">
	<p class="ctext"> water sliding </p>
	<img src= "breakaway-slide-770.jpg" alt = " " height="300" class="cimg">
	<p class="ctext"> playing mini golf </p>
	<img src= "minigulf_lg.jpg" alt = " " height="350" class="cimg">
	<p class="ctext"> exploring our green house</p>
	<img src= "Green.jpg" alt = " " height="400" class="cimg">
	<p  class="ctext"> Shopping at our cruise store. </p>
	<img src= "carnival-dream-gift-shop.jpg" alt = " " height="400" class="cimg">
	<p class="ctext"> Check out the theater, </p>
	<img src= "show.png" alt = " " height="400" class="cimg">
	<p class="ctext"> there are comedians, dancers, and plays and karaoke nights. </p>
	<img src= "john.jpg" height="290">
	<img src= "Sarah.jpg"height="290">
	<img src= "dance.jpg"height="290">
	<img src= "Orchestra.jpg"height="290">
	<img src= "monthly-karaoke-nights.jpg" alt = " " height="290">

    {%endblock%}
	
