{%extends "layout.html"%}
{%set active_page="Map"%}

  {% block title%}Map{%endblock%}
  
 {% block content%}

    <h1 class="Act" >Ship Map</h1>
    <img src= "boat.jpg" alt = "boat " height="500" class="cimg">
	<p class="ctext">There are two restaurants on board. One is called Nourriture Trop Chère, the other is called Cruise Cafe. To find out more information, like the menu, click on the tab above that says restaurants. Cruise Cafe is on the fourth floor in the back of the boat. Nourriture Trop Chère is on the first floor in the front of the boat.  </p>
    <p class="ctext">There are two pools, one in the back on floor three. There other is in the front of the boat on floor five. There is also a water slide on the deck. In the middle of the boat on floor three is our green house. Below is are cruise shop. The mini golf is located one floor below the deck in the front of the ship.The theater is located on the fifth floor in the back of the boat. This is where our    </p> 

    {%endblock%}
