{%extends "layout.html"%}
{%set active_page="store"%}

  {% block title%}store{%endblock%}
    
	   {% block content%}
	<h1 id="H1" class="disappear">Store</h1>
	    
        <img src="i-like-boats-shirt.jpg" alt="I like Big Boats T-shirt" style="width:210px;height:230px;" class="col-sm-2">
		 <li class="centert disappear p7">I like Big Boats T-shirt</li>
        <li class="centert disappear p7">$25.00</li> 
		<li class="centert disappear p7">Buy</li>
		<img src="cruise-control-mug.jpg" alt="Cruise control mug" style="width:210px;height:230px;" class="col-sm-2">
		 <li class="centert disappear p7">Cruise control mug</li>
        <li class="centert disappear p7">$15.00</li>
		<li class="centert disappear p7">Buy</li>
		<img src="family-cruise-sweatshirt.jpg" alt="Family Cruise sweatshirt" style="width:210px;height:230px;" class="col-sm-2">
		<li class="centert disappear p7">Family Cruise sweatshirt</li>
        <li class="centert disappear p7">$45.00</li>
		<li class="centert disappear p7">Buy</li>
		<img src="captain-sweatshirt.jpg" alt="Captain Sweatshirt" style="width:210px;height:230px;" class="col-sm-2">
		<li class="centert disappear p7">Captain Sweatshirt</li>
		<li class="centert disappear p7">$40.00</li>
		<li class="centert disappear p7">$Buy</li>
		<img src="calories.shirt.jpg" alt="Cruise ship calories don't count long sleeve shirt" style="width:210px;height:230px;" class="col-sm-2">
		<li class="centert disappear p7">Cruise ship calories don't count long sleeve shirt</li>
		<li class="centert disappear p7">$30.00</li>
		<li class="centert disappear p7">$Buy</li>
		<img src="fun-cruise-ship-life.jpg" alt="Life is more fun on a cruise ship shirt" style="width:210px;height:230px;" class="col-sm-2">
		<li class="centert disappear p7">Life is more fun on a cruise ship shirt</li>
		<li class="centert disappear p7">$25.00</li>
		<li class="centert disappear p7">$Buy</li>
		<img src="cruise-ship-mug.jpg" alt="Cruise ship mug" style="width:210px;height:230px;" class="col-sm-2">
		<li class="centert disappear p7">Cruise ship mug</li>
		<li class="centert disappear p7">$15.00</li>
		<li class="centert disappear p7">$Buy</li>
  </div>
</div>
 </ul>
{%endblock%}
  
